@import 'var.scss';

.block {
padding: 40px 0;
}
.block_blue {
  background-color:$first-color-fon;
}

.block-title, .block-description {
text-align: center; }

.block-title {
font-size: 2.50rem;
font-family: "Exo2Bold", sans-serif;
text-transform: uppercase;
letter-spacing:2px;
margin: 0 auto 40px auto;
position: relative;
}
.block-title:before  {
position: absolute;
content: '';
background:  url(../images/Divider-Line.png) no-repeat;
bottom: -30px;
left:50%;
margin-left: -203px;
height: 28px;
width: 407px;
 }

.block-description {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.block-title_litlle {
  font-size: 1.56rem;
  text-transform: uppercase;
  letter-spacing:2px;
    margin-bottom: 20px;
}
.block-text {
  font-size: 0.86rem;
margin-bottom: 0.2rem;
text-align: justify;
}

.skils-block {
  font-size: 1rem ;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.skils-block span  {
margin-top: 10px;
width: 100%;
display: block;
height: 3px;
background-color: #eee;
position: relative;
}

.skils-block span:after {
background-color: $first-color-fon;
position: absolute;
content: '';
height: 3px;

}
.skils-block_wordpress span:after {
width: 90%;
left:0;
content: '';
}
.skils-block_wordpress span:before {
position: absolute;
content: '90%';
bottom: 12px;
right: 0;
}

.skils-block_diz span:after {
width: 50%;
content: '';
}

.skils-block_diz span:before {
position: absolute;
content: '50%';
bottom: 12px;
right: 0;
}

.skils-block_prog span:after {
width: 70%;
content: '';
}
.skils-block_prog span:before {
position: absolute;
content: '70%';
bottom: 12px;
right: 0;
}
.skils-block_photoshop span:after {
width: 40%;
content: '';
}
.skils-block_photoshop span:before {
position: absolute;
content: '40%';
bottom: 12px;
right: 0;
}

.adwise  {
  text-align: center;
  font-size: 2rem;
  color:#fff;
}
.adwise-bottom {
 margin: 20px auto;
 width: 60%;
}
.adwise-bottom ul {
  list-style-type: none;
  color:#fff;
   margin: 0 auto;
}
.adwise-bottom ul li {
  display: inline-block;
  margin-right: 20px;
}
/* оформление блока как мы работаем  */
.process-work {
text-align: left;
font-size: 1.5rem;
font-weight: 500;
text-transform: uppercase;
padding-bottom: 10px;
margin-bottom: 15px;
border-bottom: 1px solid #B1B1B1;
}
.process-text {
  color: #B1B1B1;
  text-align: justify;
}







/*стили кнопки наверх*/
.button-top {
position: fixed;
bottom: 20px;
right: -120px;
width: 2rem;
height: 2rem;
line-height: 2rem;
border-radius: 50%;
background-color: rgb(94,182,182);
cursor: pointer;
text-align: center;
opacity: .3;
z-index: 3;
@include trans;
}
.button-top .fa {
color: #fff;
font-size: 1.0rem;
margin-top: 6px;
}
.button-top:hover {
opacity: 1;
}
.button-top.active {
right: 30px;
}

.process-step {
  width:90%;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 15px;
}

.process-step .fa {
  font-size: 1.875rem;
  color:#999999;
}
.process-step_title {
font-size: 1.125rem;
color: #232332;
text-transform: uppercase;
padding: 15px 0;
}

.process-step_text {
font-size: 0.8125rem;
}


/*оформление блока с интересными фактами о работе с нами*/

.block-fact_work {
background: #000 url('../images/counters-bg.jpg') top center no-repeat;
color: #fff;
min-height: 300px;
}
.block-fact_work .block-title,
.block-fact_work .block-description
{
  color:#fff;
}
.block-fact_work .block-title:before {
  background:none;
}
.block-fact_work .block-title {
  margin-bottom: 16px;
}

.fun-facts_block {
  width: 95%;
  margin:0 auto;
  padding: 25px 15px 35px 15px;
  background-color: rgba(255, 255, 255, .5);
}

.fun-facts_block .fa {
  display: block;
  text-align: center;
  font-size: 2rem;
}
.number_accaunt {
text-align: center;
font-size: 3rem;
margin: 15px 0;
color:$first-color-fon;
text-shadow: 1px 2px 3px $second-color-fon;
display: block;
font-family: "Exo2Medium", sans-serif;


}
.fun-facts_text {
  text-align: center;
  font-size: 1.1rem;
  color:#000;
}

/* оформления блока с перечнем услуг       */

.serves-block {
  width: 24%;
  margin-right: 1%;
padding: 15px 15px;
float: left;
background-color: #eee;
margin-top: 10px;

}
.serves-block_icon {
 float: left;
 padding-right: 15px;
}
.serves-block_icon i {
  font-size: 2.0rem;
 color: #0cb4ce;
}
.serves-block_contant {
  margin-left: 2.755rem;
}
.serves-block_contant_name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.serves-block_contant_text {
padding: 0;
margin: 0;

}

/* оформление блока с соицальными иконками    */

.social-block {
padding: 0;
margin: 0 0 10px 0;
}
.social-block_icon {
background-color: #f7f7f7;
float: left;
font-size: 1.2rem;
width: 50px;
text-align: center;
line-height: 50px;
height: 50px;
border:1px solid transparent;
@include trans;

}
.social-block_icon:hover {
border:1px solid #0cb4ce;
}


.social-block_icon a {
 color: #0cb4ce;

}
.social-block_icon a:hover {
 color: darken(#0cb4ce,10%);
@include trans;
}

.social-block_text {

line-height: 50px;
height: 50px;
margin-left: 60px;
}

.social-block_text a {
color:#000 !important;
font-size: 1.2rem;
}


.social-block a:hover {
text-decoration: none;

}

footer {
  padding: 30px 0;
  background-color: #f6f6f6;
}
.copyright a {
  color:#000;
text-decoration: none;
@include trans;
}
.copyright a:hover {
color:darken (#000, 10%);
}
/* начало блока портфолио */
#filters {
  margin: 10px 0 20px;
  text-align: center;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
  margin-left: 2px;
  border-left: 1px solid #000;
}

#filters li span {
  display: block;
  padding: 1px 20px;
  text-decoration: none;
  color: #666;
  font-size: 0.9em;
  cursor: pointer;
}

#filters li:first-child {
  border-left: 0;
}

#filters li span:hover {
  color: #0cb4ce;  text-decoration: underline;
}

#filters li span.active {
  color: #0cb4ce;}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 25%;
  margin: 0;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  background: #0cb4ce;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 5px 8px;
}

.portfolio .label-text a {
  color: #fff;
  font-size: 0.9em;
}

.portfolio .text-category {
  display: block;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.portfolio:hover .label {
  bottom: 0;
}

.portfolio:hover img {
  top: 0;
  -moz-transform: scale(1.35, 1.35);
  -webkit-transform: scale(1.35, 1.35);
  -o-transform: scale(1.35, 1.35);
  -ms-transform: scale(1.35, 1.35);
  transform: scale(1.35, 1.35);
}

/* конец блока портфолио */