// font-family: "Exo2Bold"; */
@font-face {
	font-family: "Exo2Bold";
	src: url("../fonts/Exo2Bold/Exo2Bold.eot");
	src: url("../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
	url("../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

// font-family: "Exo2Medium";
@font-face {
	font-family: "Exo2Medium";
	src: url("../fonts/Exo2Medium/Exo2Medium.eot");
	src: url("../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
	url("../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
// font-family: "Exo2Regular";
@font-face {
	font-family: "Exo2Regular";
	src: url("../fonts/Exo2Regular/Exo2Regular.eot");
	src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
	url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

// font-family: "FiraMonoBold";
@font-face {
	font-family: "FiraMonoBold";
	src: url("../fonts/FiraMonoBold/FiraMonoBold.eot");
	src: url("../fonts/FiraMonoBold/FiraMonoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/FiraMonoBold/FiraMonoBold.woff") format("woff"),
	url("../fonts/FiraMonoBold/FiraMonoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}